<header class="bg-white shadow-md sticky top-0 z-50">
  <nav class="container mx-auto px-6 py-3 flex justify-between items-center">
    <a href="#" class="flex items-center" (click)="closeMenu()">
      <img src="assets/icons/atewaza_logo.svg" alt="Logo ATEWAZA" class="h-14 w-16 mr-3">
      <span class="font-bold text-xl text-red-800">ATEWAZA</span>
    </a>
    <div class="hidden lg:flex flex-col items-stretch space-y-4 ">
      <div class="flex space-x-10 justify-end">
        <!-- Facebook-->
          <a href="https://www.facebook.com/AtewazaKickboxingPeru" target="_blank" rel="noopener noreferrer" class="text-red-600 hover:text-red-400 transition duration-300">
          <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" /></svg>
        </a>
        <!-- Instagram -->
        <a href="https://www.instagram.com/atewazakickboxing?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" rel="noopener noreferrer" class="text-red-600 hover:text-red-400 transition duration-300">
          <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 012.153 1.152 4.902 4.902 0 011.153 2.153c.247.636.416 1.363.465 2.427.048 1.024.06 1.378.06 3.808s-.012 2.784-.06 3.808c-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 2.153 4.902 4.902 0 01-2.153 1.153c-.636.247-1.363.416-2.427.465-1.024.048-1.378.06-3.808.06s-2.784-.012-3.808-.06c-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-2.153-1.153 4.902 4.902 0 01-1.153-2.153c-.247-.636-.416-1.363-.465-2.427-.048-1.024-.06-1.378-.06-3.808s.012-2.784.06-3.808c.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-2.153A4.902 4.902 0 016.08 2.525c.636-.247 1.363-.416 2.427-.465C9.53 2.013 9.884 2 12.315 2zM12 7a5 5 0 100 10 5 5 0 000-10zm0 8a3 3 0 110-6 3 3 0 010 6zm6.406-11.845a1.25 1.25 0 100 2.5 1.25 1.25 0 000-2.5z" clip-rule="evenodd" /></svg>
        </a>
        <!-- TikTok -->
        <a href="https://www.tiktok.com/@atewaza_chincha?_t=ZM-8yIqt4xXj5q&_r=1" target="_blank" rel="noopener noreferrer" class="text-red-600 hover:text-red-400 transition duration-300">
          <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path d="M12.525 0c1.308 0 2.614 0 3.921 0 .08 1.527.633 3.087 1.752 4.165 1.117 1.077 2.695 1.617 4.237 1.789v4.037a9.928 9.928 0 01-4.193-.975c-.568-.263-1.093-.592-1.614-.927v7.868c0 4.493-3.64 8.123-8.123 8.123S1.382 20.45 1.382 15.957c0-4.493 3.63-8.123 8.123-8.123.356 0 .712.024 1.063.072v4.118a4.057 4.057 0 00-1.063-.141c-2.273 0-4.118 1.845-4.118 4.118s1.845 4.118 4.118 4.118 4.118-1.845 4.118-4.118V0h.802z"/></svg>
        </a>
        <!-- X (Twitter) -->
        <a href="https://x.com/AtewazaIca?t=waNKt5s5MFnCHkOz39jhKw&s=08" target="_blank" rel="noopener noreferrer" class="text-red-600 hover:text-red-400 transition duration-300">
          <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/></svg>
        </a>
      </div>
      <div class="flex space-x-10 ">
      <a href="#inicio"  [ngClass]="{'nav-link-active': currentSection === 'inicio', 'nav-link-deactive': currentSection !== 'inicio'}">INICIO</a>
      <a href="#nosotros"  [ngClass]="{'nav-link-active': currentSection === 'nosotros', 'nav-link-deactive': currentSection !== 'nosotros' }">NOSOTROS</a>
      <a href="#servicios"  [ngClass]="{'nav-link-active': currentSection === 'servicios', 'nav-link-deactive': currentSection !== 'servicios' }">DISCIPLINAS</a>
      <a href="#plan-ia"  [ngClass]="{'nav-link-active': currentSection === 'plan-ia', 'nav-link-deactive': currentSection !== 'plan-ia' }">PLAN AUTOGENERADO</a>
      <a href="#contacto"  [ngClass]="{'nav-link-active': currentSection === 'contacto', 'nav-link-deactive': currentSection !== 'contacto' }">CONTACTO</a>
      </div>
    </div>
    <button (click)="toggleMenu()" class="lg:hidden flex items-center cursor-pointer">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
    </button>
  </nav>
  <!-- Mobile Menu -->
  @if (isMenuOpen()) {
    <div class="lg:hidden">
      <a (click)="closeMenu()" href="#inicio"  [ngClass]="{'combo-nav-link-active': currentSection === 'inicio', 'combo-nav-link-deactive': currentSection !== 'inicio' }">INICIO</a>
      <a (click)="closeMenu()" href="#nosotros" [ngClass]="{'combo-nav-link-active': currentSection === 'nosotros', 'combo-nav-link-deactive': currentSection !== 'nosotros' }">NOSOTROS</a>
      <a (click)="closeMenu()" href="#servicios" [ngClass]="{'combo-nav-link-active': currentSection === 'servicios', 'combo-nav-link-deactive': currentSection !== 'servicios' }">DISCIPLINAS</a>
      <a (click)="closeMenu()" href="#plan-ia" [ngClass]="{'combo-nav-link-active': currentSection === 'plan-ia', 'combo-nav-link-deactive': currentSection !== 'plan-ia' }">PLAN AUTOGENERADO</a>
      <a (click)="closeMenu()" href="#contacto" [ngClass]="{'combo-nav-link-active': currentSection === 'contacto', 'combo-nav-link-deactive': currentSection !== 'contacto' }">CONTACTO</a>
    </div>
  }
</header>