<section id="nosotros" class="py-20 bg-white">
  <div class="container mx-auto px-6">
    <h2 class="section-title mb-12 text-red-800 font-bold">Sobre Nosotros</h2>
    <div class="flex flex-col md:flex-row items-center gap-12">
      <div class="md:w-1/2">
        <img src="assets/imagenes/atewaza_team.jpg" alt="Collage de fotos de ATEWAZA" 
        class="rounded-lg shadow-2xl"   height="400" width="600" onerror="this.onerror=null;this.src='https://placehold.co/600x400/cccccc/ffffff?text=ATEWAZA+Team';">
      </div>
      <div class="md:w-1/2">
        <h3 class="text-2xl font-bold text-primary mb-4">Club Deportivo ATEWAZA ICA - PERÚ</h3>
        <p class="text-gray-600 mb-4">
          Fundado con la pasión por las artes marciales y los deportes de contacto, ATEWAZA es más que un gimnasio, es una familia. Nuestra misión es impartir no solo técnicas de combate, sino también los valores fundamentales de respeto, disciplina y perseverancia.
        </p>
        <p class="text-gray-600">
          Con instructores certificados y un ambiente de camaradería, ofrecemos un espacio seguro y motivador para atletas de todos los niveles, desde principiantes hasta competidores avanzados. ¡Descubre el guerrero que llevas dentro!
        </p>
      </div>
    </div>
  </div>
</section>